//тени
$box-shadow1:0 2px 8px 0;
$box-shadow: 0 8px 24px 0;
$box-shadow2: 0px 0px 24px 0px;
$box-shadowCashBack: 0px 0px 69px 36px rgba(126, 17, 234, 0.23);
$box-shadowDisconts: 0px 0px 100px -41px rgba(0, 0, 0, 0.23);





// color
$color-blue: #fff;
$color-black: #000;
$color-logo-name:#6a00fc;
$color-box-shadow: #08090a14;
$color-shadow: rgb(8 9 10 / 8%);
$color-blur : #8654ccad;
$color-price: #f81055;
$color-blockCashBack: #24b23e;

//color-button
$color-button-boy:#8654cc;
